<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>C8763 <%= userName %></h1>
    <h2>C8763</h2>
    <a href="/login">LogIn</a>
    <br>
    <a href="/logout">LogOut</a>

    <!-- for 迴圈 -->
    <% for (let i=0;i<=4;i++) { %>
        <h3><%= i %></h3>
    <% } %>
    
</body>

</html>